        <%= render 'menu/menu_volonteers_choosen' %>
   
<div class="tab">
<div class="col-lg-6 col-lg-offset-3">
<div id="search_organisation">
  <%= form_for @search_organisation, html: {:'accept-charset' => "UTF-8"} do |s| %>
  <div class="field but">
  	<label class="title">Wpisz miasto:</label><br>
     <%= s.text_field :city, class: "form-control input-lg title" %>
  </div>
  <div class="field but">
   	<label class="title">Wybierz rodzaj wolontariatu:</label><br>
  		<%= s.collection_select(:volontary_type_id, VolontaryType.all, :id, :name, {prompt: true}, class: "form-control input-lg title" ) %>
  </div>
    <button  class= "btn btn-default col-lg-2 col-lg-offset-10" >Szukaj</button>
  <% end -%>
</div>
</div>
</div>
