 <%= render 'menu/menu_individuals' %>
   <div class="tab">
    <%= render 'form' %>
    <div class="col-lg-6 col-lg-offset-3 tab">
      <%= link_to 'Edytuj dane logowania',  edit_user_registration_path(current_user) %>
    </div>
  </div>

