 <%= render 'menu/menu_volonteers_choosen2' %>
   <div class="tab">
  <div class="col-lg-6 col-lg-offset-3">
    <div id="volonteers_search">
      <%= form_tag individuals_path, :method => :get do %>
        <label class="title">Podaj miasto:</label><br>
         <%= text_field_tag :search, params[:search], class: "form-control input-lg" %>
         <button id='submit_search' class= "btn btn-default col-lg-2 col-lg-offset-10">Szukaj</button>
        <% end %>
    </div>
  </div>
</div>