<p id="notice"><%= notice %></p>
  <%render '/menu/_menu_admin' %>
   <div class="col-lg-6 col-lg-offset-4 form title tab">
		<p>
		  <strong>Nazwa:</strong>
		  <%= @volontary_type.name %>
		</p>
		<%= link_to 'Edytuj', edit_volontary_type_path(@volontary_type) %> |
		<%= link_to 'Wróć', volontary_types_path %>
	</div>
