<div class="page-header-my">
	<h1 class="text-center title">REGULAMIN</h1>
</div>	
<ol class="breadcrumb">
  <li><%= link_to 'Strona główna', home_index_path %></li>
  <li class="active">Regulamin</li>
</ol>
<div class="col-lg-8 col-lg-offset-2 content">
	<p class="content-text">1. Cele portalu</p>
	<p class="content-text">Portal STREFA WOLONTARIATU ma na celu umożliwienie kontaktu między wolontariuszami a organizacjami i osobami, które poszukują wolontariuszy. Strona umożliwia stworzenie społeczności osób, dla których wolontariat jest istotnym aspektem życia społeczengo.</p>
	<p class="content-text">2. Korzystanie z portalu</p>
	<p class="content-text"> Korzystanie z portalu jest bezpłatne, a dane konieczne do założenia konta nie są nigdzie wykorzystywane. Służą jedynie umożliwieniu jak najlepszego wyszukiwania odpowiednich wolontariuszy, organizacji i osób prywatnych, poszukujących wolontariuszy.</p>
	<p class="content-text">3. Bezpieczeństwo</p>
	<p class="content-text"> Każdy użytkownik, rejestrujący się na portalu, podaje swoje dane na własną odpowiedzialność i sam decyduje o tym, z kim nawiąuje kontakt poprzez portal. 
	Administratorzy strony, nie odpowiadają za postępowanie użytkowników portalu. Zapewniają oni jednak weryfikację użytkowników za pomocą systemu wystawiania komentarzy. Nawiązując współpracę, z użytkownikami portalu, należy sprawdzić komentarze wystawione na ich profilach.
	</p>
	<button type="button" class="accept col-lg-4 col-lg-offset-8"><%= link_to 'Akceptuję regulamin portalu', home_index_path %></button>
</div>