<div class="page-header-my">
	<h1 class="text-center title">REGULAMIN</h1>
</div>	
<ol class="breadcrumb">
  <li><%= link_to 'Strona główna', home_index_path %></li>
  <li class="active">Regulamin</li>
</ol>
<div class="col-lg-8 col-lg-offset-2 content">
	<p class="content-text">1. Cele portalu</p>
	<p class="content-text">Portal STREFA WOLONTARIATU ma na celu umożliwienie kontaktu między wolontariuszami a&nbsp;organizacjami i&nbsp;osobami, które poszukują wolontariuszy. Strona umożliwia stworzenie społeczności osób, dla których wolontariat jest istotnym aspektem życia społeczengo.</p>
	<p class="content-text">2. Korzystanie z&nbsp;portalu</p>
	<p class="content-text"> Korzystanie z&nbsp;portalu jest bezpłatne, a&nbsp;dane konieczne do założenia konta nie są nigdzie wykorzystywane. Służą jedynie umożliwieniu jak najlepszego wyszukiwania odpowiednich wolontariuszy, organizacji i&nbsp;osób prywatnych, poszukujących wolontariuszy.</p>
	<p class="content-text">3. Bezpieczeństwo</p>
	<p class="content-text"> Każdy użytkownik, rejestrujący się na portalu, podaje swoje dane na własną odpowiedzialność i&nbsp;sam decyduje o&nbsp;tym, z&nbsp;kim nawiązuje kontakt poprzez portal. 
	Administratorzy strony, nie odpowiadają za&nbsp;postępowanie użytkowników portalu. Zapewniają oni jednak weryfikację użytkowników za pomocą systemu wystawiania komentarzy. Nawiązując współpracę, z&nbsp;użytkownikami portalu, należy sprawdzić komentarze wystawione na&nbsp;ich profilach.
	</p>
	<button type="button" class="accept col-lg-4 col-lg-offset-8"><%= link_to 'Akceptuję regulamin portalu', home_index_path %></button>
</div>