<div class="page-header-my">
	<h1 class="text-center title">O PROJEKCIE</h1>
</div>	
<ol class="breadcrumb">
  <li><%= link_to 'Strona główna', home_index_path %></li>
  <li class="active">O projekcie</li>
</ol>
<div class="col-lg-8 col-lg-offset-2 content">
<p class="content-text"> Serwis STREFA WOLONTARIATU stanowi integralną część pracy licencjackiej, przygotowanej na Wydziale Zarządzania i Komunikacji Społecznej Uniwesytetu Jagiellońskiego, pod kierunkiem dra hab. Grzegorza Bilińskiego, prof.&nbsp;ASP. </p>
<p class="content-text"> Autorką serwisu jest Małgorzata Koselak.</p> 

<p class="content-text">
Kontakt: <a href="mailto:gosia.koselak@gmail.com">m.koselak.com</a>
</p>
</div>
